body {
  background-color: #4A5566;
  color: white;
}

.center {
  text-align: center;
}

#nav-header {
  background-color: #4A5566;
  height: 50px;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  padding-left: 40px;
}

/* Visited links under #nav-header */
#nav-header a, a:visited {
  text-decoration: none;
}

#main-container {
  width: 100%;
  background-color: #4A5566;
}

#logo-image {
  width: 100%;
  max-width: 600px;
}

#headline-text {
  font-size: 30px;
  padding: 25px;
  text-align: center;
}

#narrative-text {
  font-size: 18px;
  font-weight: lighter;
  padding: 20px;
}

#narrative-text-jo {
  font-size: 22px;
  font-weight: inherit;
  padding: 15px;
}

#testimony {
  font-size: 18px;
  color: rgb(255, 255, 255);
  margin: 20px 0;
  opacity: 0.8
}

#customer-container {
  background-color: #4A5566;
  width: 100%;
}

.customers img {
  padding: 25px;
  max-width: 200px;
}

.row-spacer {
  margin-top: 25px;
}

#footer {
  background-color: #4A5566;
  font-size: 22px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 20px;
  text-align: center;
}
#footer-container{
  bottom: 0;
  left: 0;
  width: 100%;
  ;
}
/* Horizontal image gallery */
.gallery {
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
}

/* I want to have neighboring images peek through.
   All <img> elements underneath .gallery
   are shrunk to 90% width. */
.gallery > img {
  width: 100%;
}

.gallery :-webkit-scrollbar { width: 75%;
  display: none; 
}

/* Apply this to all .row elements to create breathing room.*/
.spacer {
  margin-top: 25px;

}

/* Full image */
#full_image {    
  margin:0;
  padding:0;    
  list-style:none; 
  white-space: nowrap;
  overflow:hidden; 
  position:absolute;
 }

#full_image  li {  
  display: inline;
}
#full_image  li img{  
  margin:0 auto; 
  max-width:100%
}

.resize {
    width: auto;
    height: 800 px; 
  }

.imgalign {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
